// @import "normalize.styl"
@import "fonts.styl"

body
	// background #ec008c
	color #fff
  
// h1
// 	position absolute
// 	top 50%
// 	left 50%
// 	-webkit-transform translate(-50%, -50%)
// 	transform translate(-50%, -50%)
// 	margin 0
// 	font 20vmin/1 HUGEAvantGardeBold
// 	letter-spacing -0.06em
// 	text-align center
	

/* ESTILOS GENERALES */
nav
	ul
		list-style none
		padding 0
		ul
			ul
				// display none
	li
		line-height 3rem
		position relative
		ul
			position absolute
	a
		color #ddd
		display block
		padding 0 2.5em
		text-decoration none
		transition .4s
		&:hover
			background rgba(0, 0, 0, .5)
			

	
/* PRIMER NIVEL */
nav > ul
	background #333
	display table
	width 100%
	> li
		float left
	

/* SEGUNDO NIVEL */
nav 
	li 
		li
			background #222

nav > ul
	>li
		>ul
			top 100%
	
/* TERVER NIVEL */
nav
	ul
		ul
			ul
				left 100%
				top 0